<div>
  <h1>Welcome to MyRadioApp</h1>
  <p>Welcome to Lubbock Greatest Radio Station Apps</p>
  <li>I would to invite the Lubbock area listeners to adapt to our webpage so they can link the favorite Lubbock Radio station to out App Link at their GooglePlay store.</li>
  <li>We would like to give you a better way of listening on your computer web, phone, or tablets to hear you favorite station in the Lubbock Market.</li>
 
  
  <h2>Links to Lubbock Greatest Radio Station Apps</h2>
  <ul class="social icons">
      <li><a href="https://www.klll.com/tag/app/" target="_blank"><img src='https://upload.wikimedia.org/wikipedia/en/5/50/KLLL_KLLL96.3_logo.png'/></a></li>
      <li><a href="https://www.1049thebeat.com/" target="_blank"><img src='https://upload.wikimedia.org/wikipedia/commons/c/c0/KBTE_104.9theBeat_logo.png'/></a></li>
      <li><a href="https://play.google.com/store/apps/details?id=com.commotion.KLBB" target="_blank"><img src='https://upload.wikimedia.org/wikipedia/en/5/54/KLBB_93.7TheEagle_logo.jpg'/></a></li>
      <li><a href="https://play.google.com/store/apps/details?id=com.commotion.ktxq&hl=en_US&gl=US" target=_blank><img src='https://upload.wikimedia.org/wikipedia/en/0/06/KXTQ_Magic106.5_logo.jpg'/></a></li>
      <li><a href="https://play.google.com/store/apps/details?id=com.commotion.kttu" target="_blank"><img src='https://upload.wikimedia.org/wikipedia/en/8/85/KTTU_DoubleT97.3_logo.jpg'/></a></li>
  </ul>
  <h1>Play Store Apps</h1>
  <img src='https://upload.wikimedia.org/wikipedia/commons/7/78/Google_Play_Store_badge_EN.svg'>
  <img src="https://upload.wikimedia.org/wikipedia/commons/5/55/Download_on_iTunes.svg">
  <div>
    <li>Follow Lubbock Greatest Radio Station Apps on Facebook, Twitter, and Instagram as well.</li>
    <h1>Follow Us</h1>
    <ul class="social icons">
      <li><a href="https://www.facebook.com/1049thebeat/" target="_blank"><img src='https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg'/></a></li>
      <li><a href="https://twitter.com/963klll/status/1033047103365427200" target="_blank"><img src='https://upload.wikimedia.org/wikipedia/en/9/9f/Twitter_bird_logo_2012.svg'/></a></li>
      <li><a href="https://www.instagram.com/magic1065fm/?hl=af" target="_blank"><img src='https://upload.wikimedia.org/wikipedia/commons/a/a5/Instagram_icon.png'/></a></li>
  </ul>
  </div>
  
</div>
